DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"
NEXTAUTH_URL="https://isud-website.vercel.app"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
PROJECT_APPROVAL_EMAIL="balakishore619@gmail.com"
RESEND_API_KEY=""
EMAIL_FROM="isUD Website <onboarding@resend.dev>"
BLOB_STORE_ID=""
BLOB_READ_WRITE_TOKEN=""
